@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap') layer(base);
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #d35cdb;

  --color-gray-50: oklch(0.985 0.0024 247.92);
  --color-gray-100: oklch(0.967 0.0024 247.92);
  --color-gray-200: oklch(0.928 0.0024 247.92);
  --color-gray-300: oklch(0.872 0.0024 247.92);
  --color-gray-400: oklch(0.707 0.0024 247.92);
  --color-gray-500: oklch(0.551 0.0024 247.92);
  --color-gray-600: oklch(0.446 0.0024 247.92);
  --color-gray-700: oklch(0.373 0.0024 247.92);
  --color-gray-800: oklch(0.25 0.0024 247.92);
  --color-gray-900: oklch(0.21 0.0024 247.92);
  --color-gray-950: oklch(0.13 0.0024 247.92);
}

.recharts-tooltip-cursor {
  fill: var(--color-gray-500) !important;
  opacity: 0.1 !important;

  .dark & {
    fill: var(--color-gray-100) !important;
  }
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  padding: 4px 24px 4px 4px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 4px;
  width: 20px;
  height: 100%;
  cursor: pointer;
}

input[type="date"]:before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23d35cdb" viewBox="0 0 24 24"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-1.99.9-1.99 2L3 20c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM7 12h5v5H7z"/></svg>');
  position: absolute;
  right: 4px;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  pointer-events: none;
}